*, *:before, *:after {
    box-sizing: border-box;
}

html,body {
    padding: 0px;
    margin: 0px;
}

html {
    overflow: clip;
}

body {
    image-rendering: crisp-edges;  /* Firefox */
    image-rendering: pixelated;    /* Chrome */
}

.container {
    position: relative;
}

.box {
    position: absolute;
}

.overlay {
    pointer-events: none;
    z-index: 1;
    color: white;
    font-family: sans-serif;
}

.overlay .menu {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 2%;
    width: 96%;
    height: 96%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2%;
    justify-items: center;
    align-items: center;
}

.overlay button {
    font-size: 6vmin;
    overflow: clip;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: stretch;
    align-self: stretch;
    position: relative;
    padding: 0em;
}

.overlay button.ios {
    font-size: 5vmin;
}

.overlay button.img {
    font-size: 0em; /* For safari on iOS */
}

.overlay button.img img {
    height: 90%; /* For safari on iOS */
    width: 90%;
}

.overlay button.pressed {
    border-style: inset;
    border-width: 0.1em;
}

.overlay button[disabled=""] {
    border: none;
}

.overlay button .number {
    color: black;
    opacity: 0.5;
    position: absolute;
    right: 0.2vmin;
    bottom: 0em;
    font-size: 2vmin;
}

.overlay button img {
    margin: 0em;
    max-height: 90%;
    max-width: 90%;
}

.overlay button:disabled img {
    opacity: 30%;
}

.overlay .highlighted {
    animation: hl 500ms infinite;
}

@keyframes hl {
    0% {
        color: black;
    }
    49% {
        color: black;
    }
    50% {
        color: #0A0;
    }
    99% {
        color: #0A0;
    }
}

.overlay span {
    font-size: 5vmin;
    width: 100%;
    height: 100%;
    position: relative;
    top: 13%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.overlay textarea,select,button,input {
    pointer-events: auto;
}

.overlay .error {
    color: red;
}

.overlay .prop-label {
    text-align: right;
    margin-right: 1vmin;
}

.overlay .vprop-label {
    height: auto;
    align-self: end;
}

.overlay .prop-label img {
    height: 70%;
}

.overlay .link {
    pointer-events: auto;
}

.overlay a {
    color: white;
}

.overlay a img {
    width: 1em;
    vertical-align: middle;
}

.overlay select,input {
    font-size: 5vmin;
    width: 100%;
}

.overlay input[type="checkbox"] {
    height: 70%;
}

.overlay .info_outer {
    display: flex;
}

.overlay .info {
    flex: 1;
    font-size: 4vmin;
    pointer-events: auto;
    overflow-y: auto;
    color: black;
}

.overlay .info p,details {
    margin-top: 0.4em;
}

.overlay .info details summary {
    color: #666;
}

.overlay .info h2 {
    font-size: 4.5vmin;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
}

.overlay .info summary {
    cursor: pointer;
}
